body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Change this to your desired background color */
  }
  
  .converter {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="number"],
  button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    cursor: pointer;
  }
  
  input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
  }
  